<%- include('parts/html_head.ejs') %>
<%- include('parts/html_topbar.ejs') %>
<div>
    <%- include('parts/tabs1.ejs') %>    
    
    <%- include('parts/tabs2.ejs') %>
    <%- include('parts/alfyn.ejs') %>
    <%- include('parts/cyrus.ejs') %>
    <%- include('parts/haanit.ejs') %>


    <%- include('parts/tabs3.ejs') %>
</div>

<%- include('parts/html_foot.ejs') %>