<%- include('parts/html_head.ejs') %>
<%- include('parts/html_topbar.ejs') %>
<div class="container">
    <% if(typeof success !== 'undefined'){ %>
    <% if (success){ %>
    <div class="alert alert-success" role="alert">
        <%= info %>
    </div>
    <% }else{ %>
    <div class="alert alert-danger" role="alert">
        <%= info %>
    </div>
    <% } %>
    <% } %>
    <div class="col col-lg-6">
        <form method="post">
            <div class="form-group">
                <label for="sales_id">Sales ID</label>
                <input type="text" class="form-control" id="sales_id" name="sales_id"
                    value="<%= (locals.body && locals.body.sales_id) ? body.sales_id : "" %>">
                <small class="form-text text-muted"></small>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                    value="<%= locals.body ? body.name : "" %>">
                <small class="form-text text-muted"></small>
            </div>

            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday" name="birthday"
                    value="<%= locals.body ? body.birthday : "" %>">
                <small class="form-text text-muted"></small>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</div>
<%- include('parts/html_foot') %>